.container {
    width: 100%;
    height: 60%;
    padding: 6rem;
    margin-bottom: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
            linear-gradient(to right, var(--dark-gold) 5px, transparent 5px) 0 5rem,
            linear-gradient(to bottom, var(--dark-gold) 5px, transparent 5px) 5rem 0,
            linear-gradient(to left, var(--dark-gold) 5px, transparent 5px) 100% calc(100% - 5rem),
            linear-gradient(to top, var(--dark-gold) 5px, transparent 5px) calc(100% - 5rem) 100%;
    background-repeat: no-repeat;
    background-size: 25% 50%;
    animation: 2s fadeIn;
}

@media only screen and (max-width: 1024px){
    .container {
        min-height: 30rem;
        height: auto;
    }
}

@media only screen and (max-width: 590px){
    .container {
        background-size: 100% 100%;
        padding: 3rem;
        min-height: 20rem;
        animation: 2s fadeIn;
        flex-direction: column;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 320px){
    .container {
        padding: 2rem;
        min-height: 17rem;
    }
}

.symbols {
    animation: 2s fadeIn;
}

.symbols::before, .symbols::after {
    content: "“";
    font-size: 20rem;
    color: var(--gold);
    position: absolute;
    z-index: 100;
}

.symbols::before {
    top: -8rem;
    left: -4rem;
}

.symbols::after {
    bottom: -8rem;
    right: -4rem;
    transform: rotate(180deg);
}

@media only screen and (max-width: 1024px){
    .symbols::before, .symbols::after {
        font-size: 18rem;
    }

    .symbols::before {
        top: -7rem;
        left: -3rem;
    }

    .symbols::after {
        bottom: -7rem;
        right: -3rem;
    }
}

@media only screen and (max-width: 590px) {
    .symbols::before, .symbols::after {
        font-size: 16rem;
    }

    .symbols::before {
        top: -6rem;
        left: -3rem;
    }

    .symbols::after {
        bottom: -6rem;
        right: -3rem;
    }
}

@media only screen and (max-width: 320px){
    .symbols::before, .symbols::after {
        font-size: 12rem;
    }

    .symbols::before {
        top: -4rem;
        left: -2rem;
    }

    .symbols::after {
        bottom: -4rem;
        right: -2rem;
    }
}

.dialog {
    font-size: 4rem;
    color: var(--gold);
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .dialog {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 590px){
    .dialog {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 320px){
    .dialog {
        font-size: 2rem;
    }
}

.character {
    font-size: 2.8rem;
    font-style: italic;
    color: var(--gold);
    text-align: right;
    position: absolute;
    bottom: 4rem;
    right: 6rem;
}

@media only screen and (max-width: 1024px){
    .character {
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 590px){
    .character {
        font-size: 2rem;
        position: relative;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width: 320px){
    .character {
        font-size: 1.7rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}